*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 90px;
}

header .logo a img{
    width: 260px;
    margin-left: 50px;
}

header .soporteheader{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 400px;
}

header .soporteheader .nayuda h2{
    font-size: 14px;
    margin-right: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

header  .soporteheader .icons img{
    width: 42px;
}


main{
    width: 100%;
}


section{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section .tittle-grupo{
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

section .tittle{
    width: 350px;
}

section .tittle-grupo .container{
    width: 1100px;
    height: 100%;
}

section .tittle h2{
    margin-top: 40px;
    margin-left: 35px;
    font-size: 20px;
}

.panel-aspirantes{
    width: 95%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.groups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.panel-aspirantes .grup-cesde-as{
    width: 20%;
    height: 700px;
    background-color: #EFEFEF;
    margin-left: 60px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}


.panel-aspirantes .grup-cesde-as .group-empre{
    width: 70%;
    height: 43px;
    background-color: rgba(209, 209, 209, 0.692);
    border-radius: 12px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.panel-aspirantes .grup-cesde-as .group-empre:hover{
    background-color: white;
}
.panel-aspirantes .grup-cesde-as .group-empre img{
    width: 100px;
    height: 20px;
    margin-left: 30px;
}

.panel-aspirantes .grup-cesde-as .group-empre h2{
    font-size: 17px;
    margin-right: 20px;
}

.panel-aspirantes .aspirante{
    width: 63%;
    height: 700px;
    background-color: #EFEFEF;
    border-radius: 25px;
    overflow: hidden;
}

.panel-aspirantes .aspirante .tittle-aspirantes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.panel-aspirantes .aspirante .tittle-aspirantes .opcions{
    width: 80px;
}

.panel-aspirantes .aspirante .tittle-aspirantes #name{
    width: 100px;
    margin-right: 110px;
}
.panel-aspirantes .aspirante .list-aspirantes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.panel-aspirantes .aspirante .list-aspirantes .list{
    width: 90%;
    height: 45px;
    background-color: rgba(209, 209, 209, 0.692);
    margin-bottom: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.name {
    width: 250px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-number {
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-number {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    width: 180px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-aspirante{
    width: 80px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-aspirantes .aspirante .list-aspirantes .list h4{
    font-size: 15px;
    text-align: center;
}

.panel-aspirantes .aspirante .list-aspirantes .list .statusb{
    width: 10px;
    height: 10px;
    background-color: #0dc94c;
    border-radius: 100%;
}

.panel-aspirantes .aspirante .list-aspirantes .list .statusr{
    width: 10px;
    height: 10px;
    background-color: #c9bc0d;
    border-radius: 100%;
}
.panel-aspirantes .aspirante .list-aspirantes .list .statusm{
    width: 10px;
    height: 10px;
    background-color: #c90d0d;
    border-radius: 100%;
}

.panel-aspirantes .aspirante .list-aspirantes .opcions{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.panel-aspirantes .aspirante .list-aspirantes .opcions svg{
    color: #4e4e4e;
    width: 19px;
    height: 19px;
}


footer{
    width: 100%;
    height: 400px;
    background-color: #424242;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .logredsociales{
    width: 300px;
    height: 200px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 11px;
}

footer .logredsociales img{
    width: 160px;
    margin-top: 20px;
}

footer .logredsociales .p{
    margin-top: 17px;
    margin-left: 30px;
    width: 200px;
    font-size: 11px;
}

footer .redes{
    margin-top: 25px;
    margin-left: 40px;
}

footer .redes i svg{
    margin: 0px 8px;
    width: 20px;
    height: 20px;
}

footer .redes i svg:hover{
    color: #fd3089;
}

footer .sedes h2{
    font-size: 20px;
}

footer .sedes hr,
footer .lineasAtencion hr {
    border: none; /* Quita el borde predeterminado */
    border-top: 2px solid #E71D73; /* Agrega un borde superior con el color deseado y el grosor que desees */
    margin: 2px 0px 10px 0px;
}

footer .sedes ul{
    font-size: 15px;
    font-weight: 300;
}

footer .lineasAtencion{
    margin-bottom: 41px;
}

footer .lineasAtencion h2{
    font-size: 20px;
}

footer .lineasAtencion ul{
    font-size: 15px;
    font-weight: 300;
}


footer .politicas{
    font-size: 15px;
    margin-right: 40px;
}

footer .politicas ul{
    list-style-type: none;
    margin-top: 10px;
    
}

footer .politicas a{
    color: white;
    text-decoration: none;
}