*{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 90px;
}

header .logo a img{
    width: 260px;
    margin-left: 50px;
}

header .soporteheader{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 400px;
}

header .soporteheader .nayuda h2{
    font-size: 14px;
    margin: 0px 15px 0px 0px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

header  .soporteheader .icons img{
    width: 42px;
}


.cont-bienvenido{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cont-bienvenido .bienvenido{
}
.cont-bienvenido .bienvenido h1{
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}

.cont-bienvenido .bienvenido p{
    font-size: 19px;
    font-weight: 600;
    color: black;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

select{
    width: 420px !important;
}

select>option{
    width: 420px !important;
}

input{
    width: 320px !important;
}

.bg{
    background-color: #EFEFEF !important;
}

.br{
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Buttons{
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: center;
}

button{ 
    width: 140px;
    height: 32px;
    border-radius: 8px !important;
    border: none;
    background-color: #E71D73;
    color: white;
}

.circles{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

label{
    font-weight: 600;
    margin-left: 10px;
}

@media (max-width: 425px) {
    
    .title>h2{
        font-size: 1.40rem !important;
    }

    .title>h6{
        font-size: 0.80rem;
    }

    .anterior{
        margin: 0;
    }

    .siguiente{
        margin: 0;
    }

    button{
        width: 100px;
    }
    
    .circles{
        width: 80px;
    }

    input{
        width: 50%;
    }

}