body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 90px;
}

header .logo a img{
    width: 260px;
    margin-left: 50px;
}

header .soporteheader{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 400px;
}

header .soporteheader .nayuda h2{
    font-size: 14px;
    margin-right: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

header  .soporteheader .icons img{
    width: 42px;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

select{
    width: 420px !important;
}

select>option{
    width: 420px !important;
}

input{
    width: 320px !important;
}

input:focus-visible{
    border-style: none !important;
}

.bg{
    background-color: #EFEFEF !important;
    width: 100%;
}

.br{
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Buttons{
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: center;
}

button{ 
    width: 140px;
    height: 32px;
    border-radius: 8px !important;
    border: none;
    background-color: #E71D73;
    color: white;
}

.circles{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.material-symbols-outlined{
    color: #424242;   
}

label{
    font-weight: bolder;
}

.width{
    width: 350px !important;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #424242;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .logredsociales{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 11px;
}

footer .logredsociales img{
    width: 160px;
    margin-top: 20px;
    margin-right: 30px;
}

footer .logredsociales .p{
    margin-top: 16px;
    width: 200px;
    font-size: 11px;
}

footer .redes{
    margin-top: 25px;
}

footer .redes i svg{
    margin: 0px 8px;
    width: 20px;
    height: 20px;
}

footer .redes i svg:hover{
    color: #fd3089;
}

footer .sedes h2{
    font-size: 20px;
}

footer .sedes hr,
footer .lineasAtencion hr {
    border: none;
    border-top: 2px solid #E71D73; 
    margin: 2px 0px 10px 0px;
}

footer .sedes ul{
    font-size: 14px;
    font-weight: 300;
}

footer .lineasAtencion{
    margin-bottom: 41px;
}

footer .lineasAtencion h2{
    font-size: 20px;
}

footer .lineasAtencion ul{
    font-size: 14px;
    font-weight: 300;
}


footer .politicas{
    font-size: 15px;
}

footer .politicas ul{
    list-style-type: none;
    margin-top: 10px;
}

footer .politicas a{
    color: white;
    text-decoration: none;
}

.anterior{
    margin-right: 50px;
}

.siguiente{
    margin-left: 50px;
}

@media (max-width: 377px) {

    input{
        width: 327px !important;
    }

    select{
        width: 63% !important;
    }

    .width{
        width: 225px !important;
    }

    h6{
        text-align: center;
    }

    footer{
        height: 950px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    footer .logredsociales{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 11px;
    }
    
    footer .logredsociales img{
        width: 180px;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    footer .logredsociales .p{
        margin-top: 15px;
        width: 250px;
        font-size: 13px;
        text-align: center;
    }
    
    footer .redes{
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    footer .redes i svg{
        margin: 0px 5px;
        width: 25px;
        height: 25px;
    }
    
    footer .redes i svg:hover{
        color: #fd3089;
    }
    
    footer .sedes {
        width: 240px;
    }
    
    footer .sedes h2{
        font-size: 20px;
    }
    
    footer .sedes hr,
    footer .lineasAtencion hr {
        border: none; /* Quita el borde predeterminado */
        border-top: 2px solid #E71D73; /* Agrega un borde superior con el color deseado y el grosor que desees */
        margin: 2px 0px 10px 0px;
    }
    
    footer .sedes ul{
        font-size: 13px;
        font-weight: 300;
    }
    
    footer .lineasAtencion{
        margin-bottom: 35px;
        color: white;
        text-decoration: none;
    }
    
    
    footer .lineasAtencion h2{
        font-size: 20px;
    }
    
    footer .lineasAtencion ul{
        font-size: 13px;
        font-weight: 300;
    }
    footer .politicas{
        font-size: 13px;
    }
    footer .politicas {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer .politicas ul{
        list-style-type: none;
        margin-top: 24px;
        text-align: center;
    }
    
    footer .politicas a{
        color: white;
        text-decoration: none;
    }

    header{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        background-color: #EFEFEF;
        width: 100%;
        height: 120px;
        flex-wrap: wrap;
    }
    
    header .logo a img{
        width: 260px;
        margin-left: 0px;
    }
    
    header .soporteheader{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0px 15px;
    }
    
    header .soporteheader .nayuda h2{
        font-size: 13px;
        margin-right: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    
    header  .soporteheader .icons img{
        width: 35px;
    }
    
}

@media (max-width: 426px) {

    header{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        background-color: #EFEFEF;
        width: 100%;
        height: 120px;
        flex-wrap: wrap;
    }
    
    header .logo a img{
        width: 260px;
        margin-left: 0px;
    }
    
    header .soporteheader{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0px 15px;
    }
    
    header .soporteheader .nayuda h2{
        font-size: 13px;
        margin-right: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    
    header  .soporteheader .icons img{
        width: 35px;
    }

    .title>h2{
        font-size: 1.40rem !important;
    }

    .title>h6{
        font-size: 0.80rem;
    }

    .anterior{
        margin: 0;
    }

    .siguiente{
        margin: 0;
    }

    button{
        width: 100px;
    }
    
    .circles{
        width: 80px;
    }

    input{
        width: 50%;
    }

    select{
        width: 100% !important;
    }

    .width{
        width: 115px !important;
    }

    h6{
        text-align: center;
    }

    footer{
        height: 950px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    footer .logredsociales{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 11px;
    }
    
    footer .logredsociales img{
        width: 180px;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    footer .logredsociales .p{
        margin-top: 15px;
        width: 250px;
        font-size: 13px;
        text-align: center;
    }
    
    footer .redes{
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    footer .redes i svg{
        margin: 0px 5px;
        width: 25px;
        height: 25px;
    }
    
    footer .redes i svg:hover{
        color: #fd3089;
    }
    footer .sedes {
        width: 240px;
    }
    
    footer .sedes h2{
        font-size: 20px;
    }
    
    footer .sedes hr,
    footer .lineasAtencion hr {
        border: none; /* Quita el borde predeterminado */
        border-top: 2px solid #E71D73; /* Agrega un borde superior con el color deseado y el grosor que desees */
        margin: 2px 0px 10px 0px;
    }
    
    footer .sedes ul{
        font-size: 13px;
        font-weight: 300;
    }
    
    footer .lineasAtencion{
        margin-bottom: 35px;
        color: white;
        text-decoration: none;
    }
    
    footer .lineasAtencion h2{
        font-size: 20px;
    }
    
    footer .lineasAtencion ul{
        font-size: 13px;
        font-weight: 300;
    }

    footer .politicas{
        font-size: 14px;

    }
    footer .politicas {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer .politicas ul{
        list-style-type: none;
        margin-top: 25px;
        text-align: center;
    }
    
    footer .politicas a{
        color: white;
        text-decoration: none;
    }

}

@media (max-width: 991px){

    header{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        background-color: #EFEFEF;
        width: 100%;
        height: 120px;
        flex-wrap: wrap;
    }
    
    header .logo a img{
        width: 260px;
        margin-left: 0px;
    }
    
    header .soporteheader{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0px 15px;
    }
    
    header .soporteheader .nayuda h2{
        font-size: 13px;
        margin-right: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    
    header  .soporteheader .icons img{
        width: 35px;
    }

    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .labelcenter{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .margin{
        margin-top: 24px !important;
    }

    h6{
        text-align: center;
    }

    .width{
        width: 350px !important;
    }

    footer{
        height: 950px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    footer .logredsociales{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 11px;
    }
    
    footer .logredsociales img{
        width: 180px;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    footer .logredsociales .p{
        margin-top: 15px;
        width: 250px;
        font-size: 13px;
        text-align: center;
    }
    
    footer .redes{
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    footer .redes i svg{
        margin: 0px 5px;
        width: 25px;
        height: 25px;
    }
    
    footer .redes i svg:hover{
        color: #fd3089;
    }
    footer .sedes {
        width: 240px;
    }
    footer .sedes h2{
        font-size: 20px;
    }
    
    footer .sedes hr,
    footer .lineasAtencion hr {
        border: none; /* Quita el borde predeterminado */
        border-top: 2px solid #E71D73; /* Agrega un borde superior con el color deseado y el grosor que desees */
        margin: 2px 0px 10px 0px;
    }
    
    footer .sedes ul{
        font-size: 13px;
        font-weight: 300;
    }
    
    footer .lineasAtencion{
        margin-bottom: 35px;
        color: white;
        text-decoration: none;
    }
    
    
    footer .lineasAtencion h2{
        font-size: 20px;
    }
    
    footer .lineasAtencion ul{
        font-size: 13px;
        font-weight: 300;
    }
    
    
    footer .politicas{
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer .politicas ul{
        list-style-type: none;
        margin-top: 10px;
        text-align: center;
        margin-top: 30px;
    }
    
    footer .politicas a{
        color: white;
        text-decoration: none;
    }
    
}