*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 90px;
}

header .logo a img{
    width: 260px;
    margin-left: 50px;
}

header .soporteheader{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 400px;
}

header .soporteheader .nayuda h2{
    font-size: 14px;
    margin-right: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

header  .soporteheader .icons img{
    width: 42px;
}


main{
    width: 100%;
}


main .rol{
    margin-top:30px;
    margin-left: 180px;
}
main .rol select {
    width: 220px;
    height: 37px;
    background-color: white;
    padding: 5px 20px 5px 30px; /* Ajusta el padding-left para dar espacio a la flecha */
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: #424242;
    background-image: url('ruta/a/la/imagen-de-flecha.svg'); /* Agrega una imagen de flecha */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Ajusta la posición de la flecha */
}

main .rol select {
    width: 220px;
    height: 37px;
    background-color: white;
    padding: 5px 20px 5px 30px; /* Ajusta el padding-left para dar espacio a la flecha */
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

main .rol select option {
    padding-right: 20px;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

main .bienvenido{
    text-align: center;
    margin-top: 70px;
}

main .bienvenido h2{
    font-size: 60px;
    font-weight: 900;
}

main .bienvenido h5{
    font-size: 15px;
}

main .alert{
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-alert{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
main .alert .alert-icon{
    display: flex;
    flex-direction: row;
}

main .alert .alert-icon h5{
    font-size: 15px;
    margin-right: 5px;
}

main .alert .alert-icon svg{
    width: 20px;
    height: 20px;
    color: #424242;
}

main .alert .alert-icon svg:hover{
    color: #424242a4;
}

main .section-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .panel{
    width: 70%;
    height: 800px;
    border-radius: 25px;
    background-color: rgba(209, 209, 209, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .panel .novedades{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

main .panel .novedades h2{
    font-size: 20px;
    margin-right: 5px;
}

main .panel .novedades .notify{
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 600;
}

main .panel .notify-novedades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .panel .notify-novedades .container{
    width: 90%;
    height: 250px;
    background-color: rgba(209, 209, 209, 0.747);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

main .panel .notify-novedades .container .new{
    margin-top: 15px;
    margin-left: 30px;
}

main .panel .notify-novedades .container .new p{
    font-size: 15px;
    margin-bottom: 10px;
}

main .panel .notify-novedades .container .new h3{
    font-size: 19px;
}

main .panel .tareaspendientes{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 60px;
    justify-content: space-evenly;
}

main .panel .tareaspendientes .tittle-tp{
    margin-left: 20px;
}

main .panel .tareaspendientes .tittle-tp h2{
    font-size: 20px;
}

main .panel .tareaspendientes .container{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: rgba(209, 209, 209, 0.747);
}




main .candidatoprocess{
    text-align: center;
    margin: 20px 0px 50px 0px;
}

main .candidatoprocess h3{
    font-size: 25px;
    font-weight: 700;
}

main .lineaTiempo{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .lineaTiempo h3{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
}

main .lineaTiempo .container-lt{
    width: 70%;
    height: 170px;
    background-color: rgba(209, 209, 209, 0.747);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .lineaTiempo .container-lt .linea{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 20px;
}



main .section3{
    width: 100%;
    height: 800px;
    background-color: #242422;
    color: white;
    text-align: center;
}

main .section3 .ayuda{
    padding: 50px 0px 40px 0px;
}
main .section3 .ayuda h1{
    font-size: 70px;
    font-weight: 900;
}

main .section3 .targetsay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .section3 .targetsay .targetayuda{
    width: 450px;
    height: 200px;
    background-color: white;
    color: #242422;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main .section3 .targetsay .targetayuda .tittle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

main .section3 .targetsay .targetayuda .tittle img{
    margin: 10px 10px 0px 20px;
}
main .section3 .targetsay .targetayuda .tittle h3{
    font-size: 15px;
    color: #242422;
    margin-top: 5px;
}

main .section3 .targetsay .targetayuda p{
    text-align: left;
    margin: 0px 0px 0px 30px;
    color: #424242;
    font-size: 14px;
}
main .section3 .targetsay .targetayuda a{
    text-align: left;
}
main .section3 .targetsay .targetayuda a img{
    text-align: left;
    margin: 23px 0px 0px 30px;
}



footer{
    width: 100%;
    height: 400px;
    background-color: #424242;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .logredsociales{
    width: 300px;
    height: 200px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 11px;
}

footer .logredsociales img{
    width: 160px;
    margin-top: 20px;
}

footer .logredsociales .p{
    margin-top: 17px;
    margin-left: 30px;
    width: 200px;
    font-size: 11px;
}

footer .redes{
    margin-top: 25px;
    margin-left: 40px;
}

footer .redes i svg{
    margin: 0px 8px;
    width: 20px;
    height: 20px;
}

footer .redes i svg:hover{
    color: #fd3089;
}

footer .sedes h2{
    font-size: 20px;
}

footer .sedes hr,
footer .lineasAtencion hr {
    border: none; /* Quita el borde predeterminado */
    border-top: 2px solid #E71D73; /* Agrega un borde superior con el color deseado y el grosor que desees */
    margin: 2px 0px 10px 0px;
}

footer .sedes ul{
    font-size: 15px;
    font-weight: 300;
}

footer .lineasAtencion{
    margin-bottom: 41px;
}

footer .lineasAtencion h2{
    font-size: 20px;
}

footer .lineasAtencion ul{
    font-size: 15px;
    font-weight: 300;
}


footer .politicas{
    font-size: 15px;
    margin-right: 40px;
}

footer .politicas ul{
    list-style-type: none;
    margin-top: 10px;
    
}

footer .politicas a{
    color: white;
    text-decoration: none;
}